*,*:before,*:after{
  box-sizing: border-box;
}
.header {
    width: 100%;
    display: flex;
    background-image: radial-gradient(circle at 19.7% 50%, #a0a2a1 7.5%, rgb(200, 231, 231) 15%, white 22.5%);
}

body{
  font-family: 'Roboto', sans-serif;
}
  
.my-photo {
    width: 40%;
    
    
    background-image: url("https://drive.google.com/file/d/0B_TW8_MVlscKUDlBVGMybXI5T0k/view?usp=sharing"), url("file:///C:/Users/luisgvicente/Desktop/Prework/Proyecto/assets/black-r2.jpg");
    background-size: 30% auto, 32%;
    background-repeat: no-repeat;
    background-position: 50%;
}
  
/* .my-photo img {
    width: 30%;
    height: auto;
    position: relative;
    border: 1px solid black;

} */

.header-personal {
    width: 60%;
    margin: 20px;
    line-height: 2em;
    border: 20px solid;
    border-color: rgb(60, 35, 35) white rgb(60, 35, 35) rgb(30, 15, 15); 
    padding: 0 30px;  
    background-image: linear-gradient(to right, rgb(200, 231, 231) 30%, rgb(220, 251, 251) 90%, white );
}

.header-skills {
    width: 60%;
    margin: 20px;
    line-height: 2em;
    display: none;
    border: 20px solid;
    border-color: rgb(60, 35, 35) rgb(30, 15, 15) rgb(60, 35, 35) white;
    padding: 0 30px;  
    background-image: linear-gradient(to left, rgb(200, 231, 231) 30%, rgb(220, 251, 251) 90%, white);
    
}

.header-button{
  text-align: center;
  text-decoration-color: rgb(60, 35, 35);
  background-color: rgb(170, 195, 170);
  border: 3px solid  rgb(60, 35, 35);
  border-radius: 15%;
  cursor: pointer;
}

.header-button:hover{
  background-color: rgb(200, 231, 231);
  font-style: italic;
}

.check-button {
  background-color: rgb(200, 231, 231);
  border: 1px solid;
  border-radius: 15%;
  cursor: pointer;
}

.check-button:hover{
  background-color: rgb(180, 211, 211)
}

.hide-button {
  background-color: rgb(170, 195, 170);
  border: 1px solid;
  border-radius: 15%;
  cursor: pointer;
}

.hide-button:hover {
  background-color: rgb(150, 175, 150);
}

td {
  font-size: 1.3rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.align-right{
  text-align: right;
  font-weight: bold;
}

.table{
  table-layout: auto; 
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
}
  
section {
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(30, 15, 15)
}
  
.section-header {
    cursor: pointer;
}
  
.experience,
.studies,
.inactive {
    display: none;
}
  
.active {
    display: block;
    /* background-color: azure; */
    /* padding: 10px; */
}

.header-content-name{
    text-align: center;
    font-size: 3rem;
    margin-bottom: -.2em;
}

.header-content-description {
  padding-left: 10%;
  margin-top: 0;
  margin-bottom: 0;
}

.section-experience{
  font-size: 2rem;
}

ul {
  list-style: none; 
  padding: 0; 
  margin-left: 100px; 
}
  
li::before { 
  content: "\2013"; 
  padding-right: 8px; 
}

.black-link{
  color: blue;
  text-decoration: none;
}

.black-link:hover{
  text-decoration: underline blue;
}

.foot-bground{
    background-color: rgb(200, 231, 231);
    font-size: .8em;
    padding: 10px 10px 10px 120px;
    margin-top: 40px;
    
    color: rgb(184, 179, 179);
}


.img-git {
  width: 4%;
}

.img-linkedin{
  width: 6.5%;
}

.img-pdf{
  width: 3.6%
}

.bground-experience{
  background: url("file:///C:/Users/luisgvicente/Desktop/Prework/Proyecto/assets/undraw_statistic_chart_38b6.svg") 100% 45% / 50% no-repeat;  ;
}

.bground-studies{
  background: url("file:///C:/Users/luisgvicente/Desktop/Prework/Proyecto/assets/undraw_exams_g4ow.svg") 98% 60% / 50% no-repeat;  
}

.print-name {
  height: 50%;
}

